body {
    background-color: beige;
}

.pop-up-konstaui {
    z-index: 1200;
}

.action-konstaui {
    z-index: 1300;
}

.action-konstaui > div {
    z-index: 1300;
}

.icon-small {
    max-height: 10px;
    transform: translateY(-27px);
}

.icon-medium {
    max-height: 40px;
}

.icon-medium > svg {
    font-size: 40px;
}

.texto-placeholder {
    color: #b8b8b8;
}

.elAmor {
    background-color: blue;
    overflow: unset;
}

.action-list-konstaio {
    background-color: #FFF;
    margin: 0px;
    max-height: 450px;
    overflow-y: auto;
}

.action-list-helper-konstaio {
    margin: 0px;
    background-color: #e4e4e4;
}

.badge-sort-order > span {
    padding: 4px;
    transform: translateX(15px);
}

.badge-sort-order-right > span {
    padding: 4px;
    transform: translateX(-25px);
}

.black {
    background-color: black;
}

.texto-oscuro {
    color: black;
}


.libro-biblioteca-banner {
    background-color: #fbd300;
}

.white {
    color: #FFF;
}

.navbar-ruta {
    min-height: 75px;
    padding-top: 12px;
    color: #fff;
}

.navbar-ruta-titulo {
    padding-top: 12px;
    float: left;
}

.navbar-ruta-imagen {
    float: right;
    margin-left: 10px;
    height: 30px;
    width: 30px;
}

.skip-take-page > div > div > div {
    justify-content: center;
}

.popup-modal {
    overflow-y: auto;
    max-height: 66%;
    min-height: 350px;
}

.list-item-mlabs > div > div > div > div.shrink {
    width: 100%;
}

.deshabilitado {
    background-color: #e4e4e4;
}

.sheet-visualizar {
    max-height: 75%;
    min-height: 50%;
    /*height: 300px;*/
    overflow-y: auto;
}

.w-100 {
    width: 100%;
}


.navbar-titulo-popup > div > div {
    color: #FFF;
}

.navbar-titulo-popup > div {
    background-color: #007aff;
}

.accordion-form {
    background-color: #f7f7f7 !important;
}

.accordion-form-list > ul {
    background-color: #efeff4;
}

.accordion-form-summary {
    border-bottom: 2px solid #919191 !important;
}

.accordion-detalle-texto {
    color: #707070;
    font-size: 0.8rem;
}

.boton-limpiar {
    max-width: 32px;
    float: right;
}

.texto-limpiar {
    font-size: 0.8rem;
}

@media screen and (max-width: 600px) {
    .navbar-ruta-titulo {
        font-size: 10px;
    }
}

select {
    width: 100%;
}

.campo-formulario-archivo {
    display: none;
}
.sis-imagen{
    max-height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.overflow-y{
    overflow-y: auto;
}
