body {
    background-color: beige;
}

.pop-up-konstaui {
    z-index: 1200;
}

.action-konstaui {
    z-index: 1300;
}

.action-konstaui > div {
    z-index: 1300;
}

.icon-small {
    max-height: 10px;
}

.icon-medium {
    max-height: 40px;
}

.icon-medium > svg {
    font-size: 40px;
}

.texto-placeholder {
    color: #b8b8b8;
}

.elAmor {
    background-color: blue;
    overflow: unset;
}

.action-list-konstaio {
    background-color: #FFF;
    margin: 0px;
    max-height: 450px;
    overflow-y: auto;
}

.action-list-helper-konstaio {
    margin: 0px;
    background-color: #e4e4e4;
}

.badge-sort-order > span {
    padding: 4px;
    transform: translateX(40px);
}

.navbar-ruta {
    min-height: 75px;
    padding-top: 12px;
}

.navbar-ruta-titulo {
    padding-top: 12px;
    float: left;
}

.navbar-ruta-imagen {
    float: right;
    margin-left: 10px;
}
.skip-take-page > div> div> div{
    justify-content: center;
}
